<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<!-- wp:post-title {"level":1} /-->

<!-- wp:columns {"className":"wj-viewer-layout","verticalAlignment":"top"} -->
<!-- wp:column {"width":"65%"} -->
<!-- wp:shortcode -->
[item_viewer]
<!-- /wp:shortcode -->
<!-- /wp:column -->

<!-- wp:column {"width":"35%"} -->
<!-- wp:shortcode -->
[item_meta]
<!-- /wp:shortcode -->
<!-- /wp:column -->
<!-- /wp:columns -->

<!-- wp:post-content /-->
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
